:root {
  --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --secondary-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: calc(100vh - 6.1rem);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 5rem;
  height: auto;
  padding: 0.6rem;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1, span {
  padding: 0.4rem;
}

.title {
  font-size: 3.5rem;
  font-family: var(--main-font);
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-span {
  font-size: 1.4rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.nav-span a {
  color: #333;
  transition: color 0.3s;
}

.nav-span a:hover {
  color: #0056b3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#card-input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: transparent;
  transition: border-color 0.3s;
}

#card-input:focus {
  border-bottom-color: gray;
}

.input-container select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f8f8ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 9.394rem;
  font-size: 1rem;
}

.input-container select:focus {
  border-color: gray;
  outline: none;
}

.error-text {
  color: red;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--secondary-font);
  min-height: 20px;
  display: block;
}

.search-button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
}

.search-button:hover {
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.info-section {
  background-color: #f8f8ff;

  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  min-width: 27rem;
  max-width: 65rem; 
}

.card-name {
  font-family: var(--secondary-font);
  margin-bottom: 0.8rem;
  text-decoration: underline;
}

.img-desc-container {
  display: flex;
  gap: 1rem;
}

.card-img {
  width: auto;
  min-width: 15rem;
  max-height: 15rem;
  border-radius: 1rem;
}

.card-desc {
  min-width: 10rem;
  font-family: var(--main-font);
  font-size: 1.4rem;
  line-height: 1.3;
}